<!doctype html>
<html>
    <head>
    <link rel="icon" href="/media/styles/images/favicon.ico" />
    <title>Etch.js - A Content Editor</title>
   	<meta name="description" content="A Content Editor built on backbone.js">
	<meta name="author" content="Josh Nielsen"> 

        {% block styles %}
            <link rel="stylesheet" href="/media/styles/reset.css" />
            <link rel="stylesheet" href="/media/styles/text.css" />
            <link rel="stylesheet" href="/media/styles/960.css" />
            <link rel="stylesheet" href="/media/scripts/etch/styles/etch.css" />
            <link rel="stylesheet/less" href="/media/styles/style.less" />
            <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold'>
        {% endblock styles %}
        {% block head-scripts %}
            <!--[if lt IE 9]>
                <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="/media/scripts/lib/less.min.js"></script>
        {% endblock head-scripts %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    
        {% block scripts %}
            
            <script src="/media/scripts/lib/jquery.js"></script>
            <script src="/media/scripts/lib/jquery-ui.min.js"></script>
            <script src="/media/scripts/lib/less.min.js"></script>
            <script src="/media/scripts/lib/underscore.js"></script>
            <script src="/media/scripts/lib/backbone.js"></script>
            <script src="/media/scripts/lib/rangy-core.js"></script>
            <script src="/media/scripts/etch/scripts/etch.js"></script>
            <script src="/media/scripts/script.js"></script>
            
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-11906758-4']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endblock scripts %}
    </body>
</html>
